In [1]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import pandas as pd
import numpy as np

In [2]:
#  Import and read the flight data for 2018.
flight_18_df = pd.read_csv("Data_files/2018.csv")
flight_18_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Import and read the weather data for 2018 for each of our top 5 airports. 
weather_df = pd.read_csv("Data_files/Weather_data_top_5_stations.csv")
weather_df.head()

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10
0,USW00013881,"CHARLOTTE DOUGLAS AIRPORT, NC US",2018-01-01,9.84,NaN,0.0,0.0,0.0,25,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00013881,"CHARLOTTE DOUGLAS AIRPORT, NC US",2018-01-02,3.13,NaN,0.0,0.0,0.0,21,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00013881,"CHARLOTTE DOUGLAS AIRPORT, NC US",2018-01-03,5.14,NaN,0.0,0.0,0.0,25,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00013881,"CHARLOTTE DOUGLAS AIRPORT, NC US",2018-01-04,9.84,NaN,0.0,0.0,0.0,26,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00013881,"CHARLOTTE DOUGLAS AIRPORT, NC US",2018-01-05,4.92,NaN,0.0,0.0,0.0,23,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
weather_df_clean = weather_df[["NAME","DATE","PRCP","SNOW","SNWD"]]
weather_df_clean.head()

                               NAME        DATE  PRCP  SNOW  SNWD
0  CHARLOTTE DOUGLAS AIRPORT, NC US  2018-01-01   0.0   0.0   0.0
1  CHARLOTTE DOUGLAS AIRPORT, NC US  2018-01-02   0.0   0.0   0.0
2  CHARLOTTE DOUGLAS AIRPORT, NC US  2018-01-03   0.0   0.0   0.0
3  CHARLOTTE DOUGLAS AIRPORT, NC US  2018-01-04   0.0   0.0   0.0
4  CHARLOTTE DOUGLAS AIRPORT, NC US  2018-01-05   0.0   0.0   0.0

In [6]:
weather_df_clean["NAME"].unique()

array(['CHARLOTTE DOUGLAS AIRPORT, NC US',
       'DENVER INTERNATIONAL AIRPORT, CO US',
       'DAL FTW WSCMO AIRPORT, TX US',
       'ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPORT, GA US',
       'CHICAGO OHARE INTERNATIONAL AIRPORT, IL US'], dtype=object)

In [7]:
weather_df_clean.loc[(weather_df_clean["NAME"] == "CHARLOTTE DOUGLAS AIRPORT, NC US"), "AIRPORT_CODE"] = "CLT"
weather_df_clean.loc[(weather_df_clean["NAME"] == "DENVER INTERNATIONAL AIRPORT, CO US"), "AIRPORT_CODE"] = "DEN"
weather_df_clean.loc[(weather_df_clean["NAME"] == "DAL FTW WSCMO AIRPORT, TX US"), "AIRPORT_CODE"] = "DFW"
weather_df_clean.loc[(weather_df_clean["NAME"] == "ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPORT, GA US"), "AIRPORT_CODE"] = "ATL"
weather_df_clean.loc[(weather_df_clean["NAME"] == "CHICAGO OHARE INTERNATIONAL AIRPORT, IL US"), "AIRPORT_CODE"] = "ORD"

C:\Users\breed\AppData\Local\Temp\ipykernel_24120\25923062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df_clean.loc[(weather_df_clean["NAME"] == "CHARLOTTE DOUGLAS AIRPORT, NC US"), "AIRPORT_CODE"] = "CLT"

In [8]:
weather_df_clean["AIRPORT_CODE"].unique()

array(['CLT', 'DEN', 'DFW', 'ATL', 'ORD'], dtype=object)

In [9]:
weather_df_clean = weather_df_clean.drop(["NAME"], axis=1)
weather_df_clean.head()

         DATE  PRCP  SNOW  SNWD AIRPORT_CODE
0  2018-01-01   0.0   0.0   0.0          CLT
1  2018-01-02   0.0   0.0   0.0          CLT
2  2018-01-03   0.0   0.0   0.0          CLT
3  2018-01-04   0.0   0.0   0.0          CLT
4  2018-01-05   0.0   0.0   0.0          CLT

In [12]:
weather_df_clean["DATE"] = pd.to_datetime(weather_df_clean["DATE"])

In [13]:
weather_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATE          1825 non-null   datetime64[ns]
 1   PRCP          1825 non-null   float64
 2   SNOW          1825 non-null   float64
 3   SNWD          1825 non-null   float64
 4   AIRPORT_CODE  1825 non-null   object
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 71.4+ KB

In [ ]:
# Check data types. 
flight_18_df.info()

In [14]:
# Convert flight date to datetime. 
flight_18_df["FL_DATE"] = pd.to_datetime(flight_18_df["FL_DATE"])

In [15]:
# Separate the datetime column into columns for year, month, day, and weekday. 
flight_18_df["YEAR"]=flight_18_df["FL_DATE"].dt.year
flight_18_df["MONTH"]=flight_18_df["FL_DATE"].dt.month
flight_18_df["DAY"]=flight_18_df["FL_DATE"].dt.day
# flight_18_df["WEEKDAY"]=flight_18_df["FL_DATE"].dt.dayofweek
flight_18_df["WEEKDAY"]=flight_18_df['FL_DATE'].dt.strftime('%A')

In [ ]:
list(flight_18_df.columns)

In [17]:
flight_data_df1 = pd.merge(flight_18_df, weather_df_clean, left_on=["FL_DATE","ORIGIN"], right_on=["DATE","AIRPORT_CODE"], how="inner")

In [18]:
flight_data_df1 = flight_data_df1.rename(columns={'PRCP':'ORIGIN_PRCP', 'SNOW':'ORIGIN_SNOW','SNWD':'ORIGIN_SNWD'})
flight_data_df1.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,Unnamed: 27,YEAR,MONTH,DAY,WEEKDAY,DATE,ORIGIN_PRCP,ORIGIN_SNOW,ORIGIN_SNWD,AIRPORT_CODE
0,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,NaN,2018,1,1,Monday,2018-01-01,0.0,0.0,1.2,ORD
1,2018-01-01,UA,2422,ORD,OMA,2241,2244.0,3.0,15.0,2259.0,...,NaN,2018,1,1,Monday,2018-01-01,0.0,0.0,1.2,ORD
2,2018-01-01,UA,2416,ORD,CLE,2059,2300.0,121.0,24.0,2324.0,...,NaN,2018,1,1,Monday,2018-01-01,0.0,0.0,1.2,ORD
3,2018-01-01,UA,2413,ORD,BTV,2114,2230.0,76.0,14.0,2244.0,...,NaN,2018,1,1,Monday,2018-01-01,0.0,0.0,1.2,ORD
4,2018-01-01,UA,2399,ORD,MIA,1405,1402.0,-3.0,18.0,1420.0,...,NaN,2018,1,1,Monday,2018-01-01,0.0,0.0,1.2,ORD

In [19]:
flight_data_df1 = pd.merge(flight_data_df1,weather_df_clean, left_on=["FL_DATE","DEST"], right_on=["DATE","AIRPORT_CODE"], how="inner")

In [20]:
flight_data_df1=flight_data_df1.rename(columns={'PRCP':'DEST_PRCP', 'SNOW':'DEST_SNOW','SNWD':'DEST_SNWD'})
flight_data_df1.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,DATE_x,ORIGIN_PRCP,ORIGIN_SNOW,ORIGIN_SNWD,AIRPORT_CODE_x,DATE_y,DEST_PRCP,DEST_SNOW,DEST_SNWD,AIRPORT_CODE_y
0,2018-01-01,UA,2158,ORD,CLT,2101,2127.0,26.0,16.0,2143.0,...,2018-01-01,0.0,0.0,1.2,ORD,2018-01-01,0.0,0.0,0.0,CLT
1,2018-01-01,UA,1750,ORD,CLT,605,601.0,-4.0,16.0,617.0,...,2018-01-01,0.0,0.0,1.2,ORD,2018-01-01,0.0,0.0,0.0,CLT
2,2018-01-01,YX,3540,ORD,CLT,1422,1442.0,20.0,17.0,1459.0,...,2018-01-01,0.0,0.0,1.2,ORD,2018-01-01,0.0,0.0,0.0,CLT
3,2018-01-01,YX,3717,ORD,CLT,1920,1918.0,-2.0,27.0,1945.0,...,2018-01-01,0.0,0.0,1.2,ORD,2018-01-01,0.0,0.0,0.0,CLT
4,2018-01-01,YX,3751,ORD,CLT,1150,1150.0,0.0,16.0,1206.0,...,2018-01-01,0.0,0.0,1.2,ORD,2018-01-01,0.0,0.0,0.0,CLT

In [22]:
flight_data_df1=flight_data_df1.drop(["AIRPORT_CODE_x","DATE_x","AIRPORT_CODE_y","DATE_y"],axis=1)
flight_data_df1.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,YEAR,MONTH,DAY,WEEKDAY,ORIGIN_PRCP,ORIGIN_SNOW,ORIGIN_SNWD,DEST_PRCP,DEST_SNOW,DEST_SNWD
0,2018-01-01,UA,2158,ORD,CLT,2101,2127.0,26.0,16.0,2143.0,...,2018,1,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0
1,2018-01-01,UA,1750,ORD,CLT,605,601.0,-4.0,16.0,617.0,...,2018,1,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0
2,2018-01-01,YX,3540,ORD,CLT,1422,1442.0,20.0,17.0,1459.0,...,2018,1,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0
3,2018-01-01,YX,3717,ORD,CLT,1920,1918.0,-2.0,27.0,1945.0,...,2018,1,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0
4,2018-01-01,YX,3751,ORD,CLT,1150,1150.0,0.0,16.0,1206.0,...,2018,1,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0

In [23]:
list(flight_data_df1.columns)

['FL_DATE',
 'OP_CARRIER',
 'OP_CARRIER_FL_NUM',
 'ORIGIN',
 'DEST',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'CANCELLED',
 'CANCELLATION_CODE',
 'DIVERTED',
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'Unnamed: 27',
 'YEAR',
 'MONTH',
 'DAY',
 'WEEKDAY',
 'ORIGIN_PRCP',
 'ORIGIN_SNOW',
 'ORIGIN_SNWD',
 'DEST_PRCP',
 'DEST_SNOW',
 'DEST_SNWD']

In [24]:
# Drop columns that we won't need for our models. 
prio_flight_18_df = flight_data_df1.drop(["OP_CARRIER_FL_NUM", "FL_DATE", "OP_CARRIER_FL_NUM", "DIVERTED", "CANCELLATION_CODE", "WEATHER_DELAY", "LATE_AIRCRAFT_DELAY", "CARRIER_DELAY", "NAS_DELAY", "SECURITY_DELAY", "Unnamed: 27", "CANCELLED"],axis=1)
prio_flight_18_df.head()

,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,...,YEAR,MONTH,DAY,WEEKDAY,ORIGIN_PRCP,ORIGIN_SNOW,ORIGIN_SNWD,DEST_PRCP,DEST_SNOW,DEST_SNWD
0,UA,ORD,CLT,2101,2127.0,26.0,16.0,2143.0,2359.0,4.0,...,2018,1,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0
1,UA,ORD,CLT,605,601.0,-4.0,16.0,617.0,839.0,4.0,...,2018,1,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0
2,YX,ORD,CLT,1422,1442.0,20.0,17.0,1459.0,1721.0,6.0,...,2018,1,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0
3,YX,ORD,CLT,1920,1918.0,-2.0,27.0,1945.0,2208.0,5.0,...,2018,1,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0
4,YX,ORD,CLT,1150,1150.0,0.0,16.0,1206.0,1427.0,6.0,...,2018,1,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0

In [25]:
# Fill all null values with zeros. 
prio_flight_18_df = prio_flight_18_df.fillna(0)

In [26]:
# Categorize the scheduled DEPARTURE time to four key times of day. 
prio_flight_18_df.loc[(prio_flight_18_df["CRS_DEP_TIME"] >= 0) & (prio_flight_18_df["CRS_DEP_TIME"] < 600), "sched_dep_time"] = "Night"
prio_flight_18_df.loc[(prio_flight_18_df["CRS_DEP_TIME"] >= 600) & (prio_flight_18_df["CRS_DEP_TIME"] < 1200), "sched_dep_time"] = "Morning"
prio_flight_18_df.loc[(prio_flight_18_df["CRS_DEP_TIME"] >= 1200) & (prio_flight_18_df["CRS_DEP_TIME"] < 1800), "sched_dep_time"] = "Afternoon"
prio_flight_18_df.loc[(prio_flight_18_df["CRS_DEP_TIME"] >= 1800) & (prio_flight_18_df["CRS_DEP_TIME"] < 2400), "sched_dep_time"] = "Evening"

In [27]:
# Categorize the scheduled ARRIVAL time to four key times of day. 
prio_flight_18_df.loc[(prio_flight_18_df["CRS_ARR_TIME"] >= 0) & (prio_flight_18_df["CRS_ARR_TIME"] < 600), "sched_arr_time"] = "Night"
prio_flight_18_df.loc[(prio_flight_18_df["CRS_ARR_TIME"] >= 600) & (prio_flight_18_df["CRS_ARR_TIME"] < 1200), "sched_arr_time"] = "Morning"
prio_flight_18_df.loc[(prio_flight_18_df["CRS_ARR_TIME"] >= 1200) & (prio_flight_18_df["CRS_ARR_TIME"] < 1800), "sched_arr_time"] = "Afternoon"
prio_flight_18_df.loc[(prio_flight_18_df["CRS_ARR_TIME"] >= 1800) & (prio_flight_18_df["CRS_ARR_TIME"] < 2400), "sched_arr_time"] = "Evening"

In [29]:
prio_flight_18_df.head()

,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,...,DAY,WEEKDAY,ORIGIN_PRCP,ORIGIN_SNOW,ORIGIN_SNWD,DEST_PRCP,DEST_SNOW,DEST_SNWD,sched_dep_time,sched_arr_time
0,UA,ORD,CLT,2101,2127.0,26.0,16.0,2143.0,2359.0,4.0,...,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0,Evening,Night
1,UA,ORD,CLT,605,601.0,-4.0,16.0,617.0,839.0,4.0,...,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0,Morning,Morning
2,YX,ORD,CLT,1422,1442.0,20.0,17.0,1459.0,1721.0,6.0,...,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0,Afternoon,Afternoon
3,YX,ORD,CLT,1920,1918.0,-2.0,27.0,1945.0,2208.0,5.0,...,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0,Evening,Evening
4,YX,ORD,CLT,1150,1150.0,0.0,16.0,1206.0,1427.0,6.0,...,1,Monday,0.0,0.0,1.2,0.0,0.0,0.0,Morning,Afternoon

In [30]:
# Categorize the months column by season. 
prio_flight_18_df.loc[(prio_flight_18_df["MONTH"] == 12) | (prio_flight_18_df["MONTH"] == 1) | (prio_flight_18_df["MONTH"] == 2), "season"] = "Winter"
prio_flight_18_df.loc[(prio_flight_18_df["MONTH"] > 2) & (prio_flight_18_df["MONTH"] <= 5), "season"] = "Spring"
prio_flight_18_df.loc[(prio_flight_18_df["MONTH"] > 5) & (prio_flight_18_df["MONTH"] <= 8), "season"] = "Summer"
prio_flight_18_df.loc[(prio_flight_18_df["MONTH"] > 8) & (prio_flight_18_df["MONTH"] <= 11), "season"] = "Autumn"

In [31]:
# Categorize each flight as delayed or not, based on if the flight arrived at its destination late. 
prio_flight_18_df['DELAY'] = np.where((prio_flight_18_df.ARR_DELAY > 0), 1, 0)
prio_flight_18_df.head()

,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,...,ORIGIN_PRCP,ORIGIN_SNOW,ORIGIN_SNWD,DEST_PRCP,DEST_SNOW,DEST_SNWD,sched_dep_time,sched_arr_time,season,DELAY
0,UA,ORD,CLT,2101,2127.0,26.0,16.0,2143.0,2359.0,4.0,...,0.0,0.0,1.2,0.0,0.0,0.0,Evening,Night,Winter,0
1,UA,ORD,CLT,605,601.0,-4.0,16.0,617.0,839.0,4.0,...,0.0,0.0,1.2,0.0,0.0,0.0,Morning,Morning,Winter,0
2,YX,ORD,CLT,1422,1442.0,20.0,17.0,1459.0,1721.0,6.0,...,0.0,0.0,1.2,0.0,0.0,0.0,Afternoon,Afternoon,Winter,0
3,YX,ORD,CLT,1920,1918.0,-2.0,27.0,1945.0,2208.0,5.0,...,0.0,0.0,1.2,0.0,0.0,0.0,Evening,Evening,Winter,0
4,YX,ORD,CLT,1150,1150.0,0.0,16.0,1206.0,1427.0,6.0,...,0.0,0.0,1.2,0.0,0.0,0.0,Morning,Afternoon,Winter,0

In [33]:
prio_flight_18_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115245 entries, 0 to 115244
Data columns (total 31 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   OP_CARRIER           115245 non-null  object
 1   ORIGIN               115245 non-null  object
 2   DEST                 115245 non-null  object
 3   CRS_DEP_TIME         115245 non-null  int64
 4   DEP_TIME             115245 non-null  float64
 5   DEP_DELAY            115245 non-null  float64
 6   TAXI_OUT             115245 non-null  float64
 7   WHEELS_OFF           115245 non-null  float64
 8   WHEELS_ON            115245 non-null  float64
 9   TAXI_IN              115245 non-null  float64
 10  CRS_ARR_TIME         115245 non-null  int64
 11  ARR_TIME             115245 non-null  float64
 12  ARR_DELAY            115245 non-null  float64
 13  CRS_ELAPSED_TIME     115245 non-null  float64
 14  ACTUAL_ELAPSED_TIME  115245 non-null  float64
 15  AIR_TIME             115245 non-null  float64
 16  DISTANCE             115245 non-null  float64
 17  YEAR                 115245 non-null  int64
 18  MONTH                115245 non-null  int64
 19  DAY                  115245 non-null  int64
 20  WEEKDAY              115245 non-null  object
 21  ORIGIN_PRCP          115245 non-null  float64
 22  ORIGIN_SNOW          115245 non-null  float64
 23  ORIGIN_SNWD          115245 non-null  float64
 24  DEST_PRCP            115245 non-null  float64
 25  DEST_SNOW            115245 non-null  float64
 26  DEST_SNWD            115245 non-null  float64
 27  sched_dep_time       115245 non-null  object
 28  sched_arr_time       115245 non-null  object
 29  season               115245 non-null  object
 30  DELAY                115245 non-null  int32
dtypes: float64(18), int32(1), int64(5), object(7)
memory usage: 27.7+ MB

In [34]:
# Drop remaining time- and delay-related columns and columns that might lead to multi-collinearity or model confusion:
prio_flight_18_df = prio_flight_18_df.drop(["DEP_TIME", "DEP_DELAY", "TAXI_OUT", "WHEELS_OFF", "WHEELS_ON", "TAXI_IN", "ARR_TIME", "ARR_DELAY", "ACTUAL_ELAPSED_TIME", "AIR_TIME", "MONTH", "DAY", "YEAR", "CRS_ARR_TIME", "CRS_DEP_TIME"], axis=1)

In [35]:
# Check remaining columns: 
list(prio_flight_18_df.columns)

['OP_CARRIER',
 'ORIGIN',
 'DEST',
 'CRS_ELAPSED_TIME',
 'DISTANCE',
 'WEEKDAY',
 'ORIGIN_PRCP',
 'ORIGIN_SNOW',
 'ORIGIN_SNWD',
 'DEST_PRCP',
 'DEST_SNOW',
 'DEST_SNWD',
 'sched_dep_time',
 'sched_arr_time',
 'season',
 'DELAY']

In [ ]:
# Determine the top 5 airports so we can narrow the scope of the analysis. 
prio_flight_18_df["ORIGIN"].value_counts()

In [ ]:
# Determine the top 5 airports so we can narrow the scope of the analysis. 
prio_flight_18_df["DEST"].value_counts()

In [ ]:
# Determine the top 5 airlines so we can narrow the scope of the analysis. 
prio_flight_18_df["OP_CARRIER"].value_counts()

In [36]:
# Create lists to represent the top 5 airports and airlines. 
top_airports = ["ATL","ORD","DFW","CLT","DEN"]
top_airlines = ["WN", "DL", "AA", "OO", "UA"]

In [37]:
# Limit the data frame to include only the top 5 airports and airlines. 
top_prio_flight_18_df = prio_flight_18_df.loc[prio_flight_18_df['ORIGIN'].isin(top_airports)]
top_prio_flight_18_df = top_prio_flight_18_df.loc[prio_flight_18_df['DEST'].isin(top_airports)]
top_prio_flight_18_df = top_prio_flight_18_df.loc[prio_flight_18_df['OP_CARRIER'].isin(top_airlines)]
top_prio_flight_18_df = top_prio_flight_18_df.reset_index(drop=True)

In [38]:
# Review the columns to determine which need to be scaled and which need one hot encoding. 
top_prio_flight_18_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100170 entries, 0 to 100169
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   OP_CARRIER        100170 non-null  object
 1   ORIGIN            100170 non-null  object
 2   DEST              100170 non-null  object
 3   CRS_ELAPSED_TIME  100170 non-null  float64
 4   DISTANCE          100170 non-null  float64
 5   WEEKDAY           100170 non-null  object
 6   ORIGIN_PRCP       100170 non-null  float64
 7   ORIGIN_SNOW       100170 non-null  float64
 8   ORIGIN_SNWD       100170 non-null  float64
 9   DEST_PRCP         100170 non-null  float64
 10  DEST_SNOW         100170 non-null  float64
 11  DEST_SNWD         100170 non-null  float64
 12  sched_dep_time    100170 non-null  object
 13  sched_arr_time    100170 non-null  object
 14  season            100170 non-null  object
 15  DELAY             100170 non-null  int32
dtypes: float64(8), int32(1), object(7)
memory usage: 11.8+ MB

In [39]:
list(prio_flight_18_df.columns)

['OP_CARRIER',
 'ORIGIN',
 'DEST',
 'CRS_ELAPSED_TIME',
 'DISTANCE',
 'WEEKDAY',
 'ORIGIN_PRCP',
 'ORIGIN_SNOW',
 'ORIGIN_SNWD',
 'DEST_PRCP',
 'DEST_SNOW',
 'DEST_SNWD',
 'sched_dep_time',
 'sched_arr_time',
 'season',
 'DELAY']

In [40]:
# Scale the numeric columns: 
flight_data_scaled = StandardScaler().fit_transform(top_prio_flight_18_df[["CRS_ELAPSED_TIME", "DISTANCE", "ORIGIN_PRCP", "ORIGIN_SNOW", "ORIGIN_SNWD", "DEST_PRCP", "DEST_SNOW", "DEST_SNWD"]])

In [41]:
# Create a data frame. 
top_prio_flight_scaled = pd.DataFrame(
    flight_data_scaled,
    columns=["CRS_ELAPSED_TIME", "DISTANCE", "ORIGIN_PRCP", "ORIGIN_SNOW", "ORIGIN_SNWD", "DEST_PRCP", "DEST_SNOW", "DEST_SNWD"]
)

In [42]:
# Check the data frame. 
top_prio_flight_scaled

,CRS_ELAPSED_TIME,DISTANCE,ORIGIN_PRCP,ORIGIN_SNOW,ORIGIN_SNWD,DEST_PRCP,DEST_SNOW,DEST_SNWD
0,-0.567662,-0.589053,-0.316961,-0.124601,1.461213,-0.316882,-0.125544,-0.134852
1,-0.810652,-0.589053,-0.316961,-0.124601,1.461213,-0.316882,-0.125544,-0.134852
2,-0.719531,-0.589053,-0.316961,-0.124601,1.461213,-0.316882,-0.125544,-0.134852
3,-0.506914,-0.589053,-0.316961,-0.124601,1.461213,-0.316882,-0.125544,-0.134852
4,-0.628409,-0.589053,-0.316961,-0.124601,1.461213,-0.316882,-0.125544,-0.134852
...,...,...,...,...,...,...,...,...
100165,-1.904110,-1.936476,0.051985,-0.124601,-0.134087,0.097934,-0.125544,-0.134852
100166,-1.934484,-1.936476,0.051985,-0.124601,-0.134087,0.097934,-0.125544,-0.134852
100167,-1.934484,-1.936476,0.051985,-0.124601,-0.134087,0.097934,-0.125544,-0.134852
100168,-2.025605,-1.936476,0.051985,-0.124601,-0.134087,0.097934,-0.125544,-0.134852
100169,-2.055979,-1.936476,0.051985,-0.124601,-0.134087,0.097934,-0.125544,-0.134852

In [43]:
list(prio_flight_18_df.columns)

['OP_CARRIER',
 'ORIGIN',
 'DEST',
 'CRS_ELAPSED_TIME',
 'DISTANCE',
 'WEEKDAY',
 'ORIGIN_PRCP',
 'ORIGIN_SNOW',
 'ORIGIN_SNWD',
 'DEST_PRCP',
 'DEST_SNOW',
 'DEST_SNWD',
 'sched_dep_time',
 'sched_arr_time',
 'season',
 'DELAY']

In [44]:
# Get dummies for the categorical columns: 
flight_dummies = pd.get_dummies(top_prio_flight_18_df[["OP_CARRIER", "ORIGIN", "DEST", "WEEKDAY", "sched_dep_time", "sched_arr_time", "season"]])

In [45]:
# Check the data frame. 
flight_dummies

,OP_CARRIER_AA,OP_CARRIER_DL,OP_CARRIER_OO,OP_CARRIER_UA,OP_CARRIER_WN,ORIGIN_ATL,ORIGIN_CLT,ORIGIN_DEN,ORIGIN_DFW,ORIGIN_ORD,...,sched_dep_time_Morning,sched_dep_time_Night,sched_arr_time_Afternoon,sched_arr_time_Evening,sched_arr_time_Morning,sched_arr_time_Night,season_Autumn,season_Spring,season_Summer,season_Winter
0,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
1,0,0,0,1,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,1
3,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100165,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
100166,1,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
100167,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
100168,1,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
100169,1,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [46]:
# Confirm dummies. 
list(flight_dummies.columns)

['OP_CARRIER_AA',
 'OP_CARRIER_DL',
 'OP_CARRIER_OO',
 'OP_CARRIER_UA',
 'OP_CARRIER_WN',
 'ORIGIN_ATL',
 'ORIGIN_CLT',
 'ORIGIN_DEN',
 'ORIGIN_DFW',
 'ORIGIN_ORD',
 'DEST_ATL',
 'DEST_CLT',
 'DEST_DEN',
 'DEST_DFW',
 'DEST_ORD',
 'WEEKDAY_Friday',
 'WEEKDAY_Monday',
 'WEEKDAY_Saturday',
 'WEEKDAY_Sunday',
 'WEEKDAY_Thursday',
 'WEEKDAY_Tuesday',
 'WEEKDAY_Wednesday',
 'sched_dep_time_Afternoon',
 'sched_dep_time_Evening',
 'sched_dep_time_Morning',
 'sched_dep_time_Night',
 'sched_arr_time_Afternoon',
 'sched_arr_time_Evening',
 'sched_arr_time_Morning',
 'sched_arr_time_Night',
 'season_Autumn',
 'season_Spring',
 'season_Summer',
 'season_Winter']

In [47]:
# Isolate variables that we're trying to predict. 
variables_predicting_df = top_prio_flight_18_df[['DELAY']]

In [48]:
# Check the data frame. 
variables_predicting_df

        DELAY
0           0
1           0
2           0
3           0
4           1
...       ...
100165      0
100166      0
100167      0
100168      1
100169      0

[100170 rows x 1 columns]

In [49]:
# Concatenate the three data frames. 
cleaned_flights_df = pd.concat([top_prio_flight_scaled, flight_dummies, variables_predicting_df], axis=1)

In [50]:
cleaned_flights_df

,CRS_ELAPSED_TIME,DISTANCE,ORIGIN_PRCP,ORIGIN_SNOW,ORIGIN_SNWD,DEST_PRCP,DEST_SNOW,DEST_SNWD,OP_CARRIER_AA,OP_CARRIER_DL,...,sched_dep_time_Night,sched_arr_time_Afternoon,sched_arr_time_Evening,sched_arr_time_Morning,sched_arr_time_Night,season_Autumn,season_Spring,season_Summer,season_Winter,DELAY
0,-0.567662,-0.589053,-0.316961,-0.124601,1.461213,-0.316882,-0.125544,-0.134852,0,0,...,0,0,0,0,1,0,0,0,1,0
1,-0.810652,-0.589053,-0.316961,-0.124601,1.461213,-0.316882,-0.125544,-0.134852,0,0,...,0,0,0,1,0,0,0,0,1,0
2,-0.719531,-0.589053,-0.316961,-0.124601,1.461213,-0.316882,-0.125544,-0.134852,1,0,...,1,0,0,1,0,0,0,0,1,0
3,-0.506914,-0.589053,-0.316961,-0.124601,1.461213,-0.316882,-0.125544,-0.134852,1,0,...,0,0,0,1,0,0,0,0,1,0
4,-0.628409,-0.589053,-0.316961,-0.124601,1.461213,-0.316882,-0.125544,-0.134852,1,0,...,0,0,1,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100165,-1.904110,-1.936476,0.051985,-0.124601,-0.134087,0.097934,-0.125544,-0.134852,1,0,...,0,1,0,0,0,0,0,0,1,0
100166,-1.934484,-1.936476,0.051985,-0.124601,-0.134087,0.097934,-0.125544,-0.134852,1,0,...,0,0,1,0,0,0,0,0,1,0
100167,-1.934484,-1.936476,0.051985,-0.124601,-0.134087,0.097934,-0.125544,-0.134852,1,0,...,0,1,0,0,0,0,0,0,1,0
100168,-2.025605,-1.936476,0.051985,-0.124601,-0.134087,0.097934,-0.125544,-0.134852,1,0,...,0,0,0,1,0,0,0,0,1,1
100169,-2.055979,-1.936476,0.051985,-0.124601,-0.134087,0.097934,-0.125544,-0.134852,1,0,...,0,0,1,0,0,0,0,0,1,0

In [51]:
# Finally, need to drop the columns that might interfere with delay predictions: 
# Let's check our columns again: 
list(cleaned_flights_df.columns)

['CRS_ELAPSED_TIME',
 'DISTANCE',
 'ORIGIN_PRCP',
 'ORIGIN_SNOW',
 'ORIGIN_SNWD',
 'DEST_PRCP',
 'DEST_SNOW',
 'DEST_SNWD',
 'OP_CARRIER_AA',
 'OP_CARRIER_DL',
 'OP_CARRIER_OO',
 'OP_CARRIER_UA',
 'OP_CARRIER_WN',
 'ORIGIN_ATL',
 'ORIGIN_CLT',
 'ORIGIN_DEN',
 'ORIGIN_DFW',
 'ORIGIN_ORD',
 'DEST_ATL',
 'DEST_CLT',
 'DEST_DEN',
 'DEST_DFW',
 'DEST_ORD',
 'WEEKDAY_Friday',
 'WEEKDAY_Monday',
 'WEEKDAY_Saturday',
 'WEEKDAY_Sunday',
 'WEEKDAY_Thursday',
 'WEEKDAY_Tuesday',
 'WEEKDAY_Wednesday',
 'sched_dep_time_Afternoon',
 'sched_dep_time_Evening',
 'sched_dep_time_Morning',
 'sched_dep_time_Night',
 'sched_arr_time_Afternoon',
 'sched_arr_time_Evening',
 'sched_arr_time_Morning',
 'sched_arr_time_Night',
 'season_Autumn',
 'season_Spring',
 'season_Summer',
 'season_Winter',
 'DELAY']

In [ ]:
# Let's remove these columns (which might impact delay predictions):
# delays_weather_no, delays_weather_yes, delays_late_aircraft_no, delays_late_aircraft_yes, CANCELLED, DIVERTED, DEP_DELAY, ARR_DELAY
# cleaned_flights_df = cleaned_flights_df.drop(["delays_weather_no", "delays_weather_yes", "delays_late_aircraft_no", "delays_late_aircraft_yes", "CANCELLED", "DIVERTED", "DEP_DELAY", "ARR_DELAY"],axis=1)

In [52]:
cleaned_flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100170 entries, 0 to 100169
Data columns (total 43 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CRS_ELAPSED_TIME          100170 non-null  float64
 1   DISTANCE                  100170 non-null  float64
 2   ORIGIN_PRCP               100170 non-null  float64
 3   ORIGIN_SNOW               100170 non-null  float64
 4   ORIGIN_SNWD               100170 non-null  float64
 5   DEST_PRCP                 100170 non-null  float64
 6   DEST_SNOW                 100170 non-null  float64
 7   DEST_SNWD                 100170 non-null  float64
 8   OP_CARRIER_AA             100170 non-null  uint8
 9   OP_CARRIER_DL             100170 non-null  uint8
 10  OP_CARRIER_OO             100170 non-null  uint8
 11  OP_CARRIER_UA             100170 non-null  uint8
 12  OP_CARRIER_WN             100170 non-null  uint8
 13  ORIGIN_ATL                100170 non-null  uint8
 14  ORIGIN_CLT                100170 non-null  uint8
 15  ORIGIN_DEN                100170 non-null  uint8
 16  ORIGIN_DFW                100170 non-null  uint8
 17  ORIGIN_ORD                100170 non-null  uint8
 18  DEST_ATL                  100170 non-null  uint8
 19  DEST_CLT                  100170 non-null  uint8
 20  DEST_DEN                  100170 non-null  uint8
 21  DEST_DFW                  100170 non-null  uint8
 22  DEST_ORD                  100170 non-null  uint8
 23  WEEKDAY_Friday            100170 non-null  uint8
 24  WEEKDAY_Monday            100170 non-null  uint8
 25  WEEKDAY_Saturday          100170 non-null  uint8
 26  WEEKDAY_Sunday            100170 non-null  uint8
 27  WEEKDAY_Thursday          100170 non-null  uint8
 28  WEEKDAY_Tuesday           100170 non-null  uint8
 29  WEEKDAY_Wednesday         100170 non-null  uint8
 30  sched_dep_time_Afternoon  100170 non-null  uint8
 31  sched_dep_time_Evening    100170 non-null  uint8
 32  sched_dep_time_Morning    100170 non-null  uint8
 33  sched_dep_time_Night      100170 non-null  uint8
 34  sched_arr_time_Afternoon  100170 non-null  uint8
 35  sched_arr_time_Evening    100170 non-null  uint8
 36  sched_arr_time_Morning    100170 non-null  uint8
 37  sched_arr_time_Night      100170 non-null  uint8
 38  season_Autumn             100170 non-null  uint8
 39  season_Spring             100170 non-null  uint8
 40  season_Summer             100170 non-null  uint8
 41  season_Winter             100170 non-null  uint8
 42  DELAY                     100170 non-null  int32
dtypes: float64(8), int32(1), uint8(34)
memory usage: 9.7 MB

In [53]:
# Save the cleaned data to a CSV. 
cleaned_flights_df.to_csv("Data_files/REV3_2018_cleaned_delays.csv", index=False)